<nav class="my-navbar">
    <ul>
      <li>
        <button routerLink="/home/actor/alta">Actor Alta</button>
      </li>
      <li>
        <button routerLink="/home/peliculas/alta">Pelicula Alta</button>
      </li>
      <li>
        <button routerLink="/home/actor/listado">Actor Listado</button>
      </li>
      <li>
        <button routerLink="/home/peliculas/listado">Pelicula Listado</button>
      </li>
      <li>
        <button routerLink="/home/actorPelicula">Actor Peliculas</button>
      </li>
    </ul>
  </nav>
  